html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
.navbar {
  width: 100%;
  margin: 0;
}
#brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
#brand:hover{
  color: #ff0000;
}
footer {
  background-color: #000;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.fBrand {
  text-align: center;
}
.side-nav-bar {
  background-color: #ff0000;
  width: 15rem;
  height:100vh;
}
.side-nav-list  {
  list-style: none;
}
.catagories {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.catagories a{
  color:#000;  
}
.catagories, a:hover{
  color: #ffffff;
  text-decoration: none;
}
.catagories, a:visited{
  color: #ffffff;
}

/* Contact */
.container_contact {
  text-align: center;
  display: block;
  text-align: center;
}
.form_contact {
  padding-top: 4%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}
.input_contact {
  margin: 3%;
}
.btn_contact_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.btn_contact {
  background-color: #ff0000;
}
